@page

@model Order 

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в кафе</h1>
    <form asp-action="Create">
        <div class="form-group">
            <label>Имя клиента</label>
            <input asp-for="CustomerName" class="form-control" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Сумма</label>
            <input asp-for="TotalAmount" class="form-control" />
            <span asp-validation-for="TotalAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Список блюд</label>
            <input asp-for="DishName" class="form-control" />
            <span asp-validation-for="DishName" class="text-danger"></span>
        </div>
       
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
