@page
@model PrivacyModel
@{
    ViewData["Title"] = "О нашем кафе";
}
<h1>@ViewData["Title"]</h1>


<p>Мы рады видеть вас здесь! У нас вы найдете уютную атмосферу и вкусные блюда, которые подарят вам отличное настроение. Наслаждайтесь ароматным кофе, свежей выпечкой и специальными блюдами от нашего шеф-повара. </p>
<img src="https://i.pinimg.com/736x/5c/ef/61/5cef61e334f962ab813ec9a9d1bdbc30.jpg"